/* General Styles */
body {
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Light and dark theme styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #1c1c1c;
    color: #ffffff;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

.image{
    width: fit-content;
    height: fit-content;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Circle button style */
.circle-btn {
    background-color: #ffffff; /* White background */
    color: #000000;           /* Black icon */
    border: 2px solid #000;   /* Optional: black border */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.theme-switcher {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.theme-switcher:hover .dropdown-content {
    display: block;
}

